<%-include ./include/header.html%>
<section>
    <div class="bannerBox" id="bannerBox">
        <ul class="bannerList" id="bannerList">
            <li style="background-image: url('/images/banner/banner1.jpg');">
                <div class="wp pos"><a class="bannerDown" href="#" target="_blank"></a></div>
            </li>
            <li style="background-image: url('/images/banner/banner2.jpg');">
                <div class="wp pos"><a class="bannerDown" href="#" target="_blank"></a></div>
            </li>
            <li style="background-image: url('/images/banner/banner3.png');">
                <div class="wp pos"><a class="bannerDown" href="#" target="_blank"></a></div>
            </li>
            <li class="clone" style="background-image: url('/images/banner/banner1.jpg');">
                <div class="wp pos"><a class="bannerDown" href="#" target="_blank"></a></div>
            </li>
        </ul>
        <ul class="bannerTips" id="bannerTips">
            <li class="on"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div>
        中间部分
    </div>
</section>
<%-include ./include/footer.html%>