<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1226,maximum-scale=1.0"/>
    <title><%=title%></title>
    <meta name="baidu_union_verify" content="710c545ce38717a898d73bc50eb69eb5">
    <meta name="keywords" content="海洛创意,HelloRF,正版图片,正版视频,正版音乐素材,正版素材,素材,微利图片,微利视频,微利音乐素材,图库,图片库,站酷,ZCOOL"/>
    <meta name="description"
          content="海洛创意(HelloRF)是Shutterstock中国独家合作伙伴，站酷旗下正版素材在线交易平台。拥有正版图片、正版视频、正版音乐素材，专注于为设计、广告以及各类行业提供低价安全的正版素材解决方案，保证所有内容100%正版。"/>
    <LINK rel="Bookmark" href="/favicon.ico">
    <LINK rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <script type="text/javascript" src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://static.hellorf.com/v1.8.6.0/hellorf/css/H-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://static.hellorf.com/v1.8.6.0/hellorf/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/jquery.min.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript"
            src="http://static.hellorf.com/v1.8.6.0/hellorf/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('.pngfix,.icon,.list-icon');</script>
    <![endif]-->

    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            if (window.location.href.indexOf('zcool.com.cn') >= 0) {
                hm.src = "//hm.baidu.com/hm.js?2034e74d220b1d8ebdce0ffe27758900";
            }
            else {
                hm.src = "//hm.baidu.com/hm.js?2174d64d0c51d1d64111d5fefdc906b8";
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        var suffix = /dev|test/.test(window.location.hostname) ? "dev" : "www";
        var url = 'http://' + suffix + '.hellorf.com/subject/site_statistic/';
        if (/pub|test/.test(window.location.hostname)) {
            var url = 'http://www.hellorf.pub/subject/site_statistic/';
        }
        $.getJSON(url);

        var ua = navigator.userAgent;
        if (/Android/i.test(ua) || (/iPhone/i.test(ua))) {
            var u_url = window.location.href;
            if (/www.hellorf.com/.test(window.location.hostname)) {
                u_url = u_url.replace('http://www.hellorf.com', '');
                if (/\/photo\/search\/(.*)\.html/i.test(u_url) ||
                        /\/photo\/show\//i.test(u_url) ||
                        /\/photo\/models\//i.test(u_url) ||
                        /\/photo\/like\//i.test(u_url) ||
                        /\/user\/share(.*)/i.test(u_url) ||
                        /\/user\/download\//i.test(u_url)
                ) {
                    window.location.href = 'http://m.hellorf.com' + u_url;
                } else if (/\/photo\/search\/\?(.*)/i.test(u_url)) {
                    u_url = u_url.replace('searchKeyword=', 'keyword=');
                    window.location.href = 'http://m.hellorf.com' + u_url;
                } else if (/\/product\/price(.*)/i.test(u_url)) {
                    u_url = u_url.replace('/product/price', '/photo/price');
                    window.location.href = 'http://m.hellorf.com' + u_url;
                } else if (/\/user\/favorite\//i.test(u_url)) {
                    u_url = '/favorite/defaults/';
                    window.location.href = 'http://m.hellorf.com' + u_url;
                }
            }
        }

    </script>

</head>
<body>
<div id='logo_pic' style='margin:0 auto;display:none;'>
    <img src='http://static.hellorf.com/v1.8.6.0/hellorf/images/hellorf_logo_121x75.png' alt="海洛创意官方logo"/>
</div>

<input id="scrollTop1" name="" type="hidden" value="0"><input id="scrollTop2" name="" type="hidden" value="0">
<div class="topbar">
    <div class="cl wp">
        <div class="topLeft l">
            <ul>
                <li><a href="/" class="active"><i class="iconpic iconpic-nav-pic va-m"></i> <span class="va-m">图片</span></a>
                </li>
                <li><a href="/video"><i class="iconpic iconpic-nav-video va-m"></i> <span class="va-m">视频</span></a>
                </li>

            </ul>
        </div>

        <div style="height: 0px; visibility: hidden;">
            <img src="http://static.hellorf.com/v1.8.6.0/hellorf/images/iconpic-pic-hover.png">
            <img src="http://static.hellorf.com/v1.8.6.0/hellorf/images/iconpic-nav-video-hover.png">
            <img src="http://static.hellorf.com/v1.8.6.0/hellorf/images/iconpic-arrow-down-new-hover.png">
            <img src="http://static.hellorf.com/v1.8.6.0/hellorf/images/iconpic-cart-hover.png">
            <img src="http://static.hellorf.com/v1.8.6.0/hellorf/images/iconpic-menu-hover.png">
            <img src="http://static.hellorf.com/v1.8.6.0/hellorf/images/iconpic-nav-qq-hover.png">
        </div>

        <div class="topRight r">
            <div style="display:none"><img src="http://static.hellorf.com/v1.8.6.0/hellorf/images/icon-arrow-down2.png">
            </div>
            <ul>
                <li><a href="/users/login" id="topnav_login">请登录</a></li>
                <li class="pipe">|</li>
                <li><a href="/users/reg/">注册</a></li>
                <li class="pipe">|</li>
                <li><a href="/travel/">旅游专题</a></li>
                <li><a href="/pub/dfaq"><i class="iconpic iconpic-nav-qq"></i> 客服中心</a></li>
                <li style="display:inline-block" class="dropDown dropDown_hover" id="sitelink"><a
                        href="javascript:void(0);" class="dropDown_A"><i class="iconpic iconpic-nav-menu"></i></a>
                    <ul class="dropDown-menu radius">
                        <li class="arrow"></li>
                        <li><a target="_blank" href="http://www.zcool.com.cn">站酷主站</a></li>
                        <li><a target="_blank" href="http://job.zcool.com.cn/">站酷招聘</a></li>
                        <li><a target="_blank" href="http://idea.zcool.com.cn/">站酷搜灵感</a></li>
                        <li><a target="_blank" href="http://www.gogoup.com/ ">高高手</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--pop-login-->
<div id="pop-login" class="dropBox radius pop-login" style="display:none;margin-left:143px;">
    <div style="position:relative" class="pd-30"><span class="arrow"></span>
        <form name="f-login" id="f-login" action="#" method="post">
            <p id="popErrorTr" style="display:none" class="text-warning"></p>
            <p class="mb-0">
                <input id="popUsername" type="text" placeholder="用户名/邮箱（可使用站酷帐号登录）" value="" class="input_text radius-2"
                       style="width:330px;">
            </p>
            <p class="mb-0 mt-10">
                <input id="popPassword" type="password" placeholder="密码（可使用站酷帐号登录）" value="" class="input_text radius-2"
                       style="width:330px;">
            </p>
            <p class="showCheckCode mb-0 mt-10 hide">
                <input id="popRandomCode" type="text" placeholder="验证码" value="" class="input_text radius-2"
                       style="width:120px;">
                <img src="" height="38" class="randomCodeImg absolute ml5" style="width: 140px;">
                <a class="refreshRandomCodeImgBtn">换一张</a>
                <span id="popRandomCodeIcon"></span>
            </p>
            <p class="mb-0 mt-20 cl">
        <span class="l">
          <input onclick="return doLoginInPop('http://www.hellorf.com/');" name="提交" type="submit" id="popLoginSubmit"
                 class="btn btn-primary radius btn-loading" value="登录">
          <a class="sublink ml-10" href="/user/reg/" target="_blank">注册</a>
        </span>
                <span class="r" style="margin-top:8px"> <a href="/user/getpassword/">忘记密码</a> <span
                        class="pipe">|</span> <a href="/user/qq/"><i class="icon icon-qq"></i></a><a class="ml-10"
                                                                                                     href="/user/weibo/"><i
                        class="icon icon-sinawb"></i></a> </span></p>
        </form>
    </div>
</div>
<link href="http://static.hellorf.com/v1.8.6.0/hellorf/css/jplayer.blue.monday.css" rel="stylesheet" type="text/css"/>
<div class="banner cl has-dots"
     style="margin-top:-1px; height:460px; overflow:hidden;background-color: rgb(230, 94, 94);">
    <!--  <a href="http://www.hellorf.com/user/share/?id=1795644-75466-53d8c036ddc4c37e-1&subject=吃货-主站" target="_blank" style="position:absolute; left:0; right:0; top:0; height:460px; display:block; cursor:pointer; z-index:1" title="共馋主义"></a> -->
    <div class="wp" style="position:relative;z-index:2">
		<span class="logo-banner" style="background: none;left: 0;top: 0">
		<h1>
			<a href="http://www.hellorf.com" target="_self" title="海洛创意"><img title="海洛创意" alt="海洛创意"
                                                                              src="http://static.hellorf.com/v1.8.6.0/hellorf/images/logo-banner.png?v5"></a>
		</h1>
		</span>
        <div class="searchBar searchBar-big">
            <form class="form-search" action="/photo/search/" method="get" name="form-search"
                  onsubmit="return dosearch();">
                <input class="searchTxt" id="searchKeyword" name="searchKeyword" value=""
                       placeholder="搜索照片、矢量图和插画，多个词用空格隔开">
                <!-- <div style="position:absolute; top:5px; left:497px;">
          <select id="search_group" name="search_group" data-enabled="false">
            <option value="all">所有图片</option>
            <option value="photos">照片</option>
            <option value="vectors">矢量图</option>
            <option value="illustrations">插画</option>
          </select>
        </div> -->
                <input type="hidden" id="search_group" name="search_group" value="all"/>
                <a href="javascript:;" class="st_camera_on" onClick="search_camera_open(this, 'index')"></a>
                <button class="btn btn-primary searchBtn" id="searchBtn" name="searchBtn"><i
                        class="icon icon-search"></i></button>
            </form>
        </div>
    </div>
    <!-- <div>
  <video class="banner-video" height="100%" autoplay loop>
                        <source type="video/mp4" src="http://ali.image.hellorf.com/video/hellorf2016-32ms-1280.mp4" />
                        <object height="100%" type="application/x-shockwave-flash" data="http://static.hellorf.com/v1.8.6.0/hellorf/js/mediaelement/flashmediaelement.swf">
                            <param name="movie" value="http://static.hellorf.com/v1.8.6.0/hellorf/js/mediaelement/flashmediaelement.swf" />
                            <param name="flashvars" value="controls=true&file=http://ali.image.hellorf.com/video/hellorf2016-32ms-1280.mp4" />
                        </object>
                    </video>
       </div>-->
    <div class="bd tabcon" style="height:460px; overflow:hidden">
        <ul>
            <li style="background-image:url(http://ali.image.hellorf.com/crm/3020161107110648083.jpg)">
                <div class="wp pos-r" style="height:460px">
                    <a title="共馋主义" target="_blank"
                       href="http://www.hellorf.com/user/share/?id=1795644-75466-53d8c036ddc4c37e-1&subject=吃货-主站"
                       class="banner-down icon-download"></a>
                </div>
            </li>
            <li style="background-image:url(http://ali.image.hellorf.com/crm/3020161017133335193.jpg)">
                <div class="wp pos-r" style="height:460px">
                    <a title="扑满第四期" target="_blank" href="http://www.hellorf.com/subject/contributor4/?subject=创意扑满4"
                       class="banner-down icon-download"></a>
                </div>
            </li>
            <li style="background-image:url(http://ali.image.hellorf.com/crm/3020161024174229999.png)">
                <div class="wp pos-r" style="height:460px">
                    <a title="视频库上线" target="_blank" href="http://www.hellorf.com/subject/footage/?subject=视频上线海洛"
                       class="banner-down icon-download"></a>
                </div>
            </li>
            <!-- <li style=" height:460px; position:relative;background-image: url(http://static.hellorf.com/v1.8.6.0/hellorf/images/hellorf-most-beautiful-stock-videos.png); background-position: left;">
<a href="http://www.hellorf.com/video?subject=%E8%A7%86%E9%A2%91" style=" position:absolute; top:0; left:0; right:0; bottom:0; z-index:1; background:url(http://static.hellorf.com/v1.7.9.1/hellorf/images/hellorf_video_3020x460_B.png) no-repeat center 0/auto 460px"></a>
<div style="position:absolute; top:0px; left:0; right:0; bottom:0">
  <video class="banner-video" height="460" autoplay loop>
      <source type="video/mp4" src="http://ali.image.hellorf.com/video/hellorf-most-beautiful-stock-videos.mp4" />
      <object height="460" type="application/x-shockwave-flash" data="http://static.hellorf.com/v1.7.9.1/hellorf/js/mediaelement/flashmediaelement.swf">
          <param name="movie" value="http://static.hellorf.com/v1.7.9.1/hellorf/js/mediaelement/flashmediaelement.swf" />
          <param name="flashvars" value="controls=true&file=http://ali.image.hellorf.com/video/hellorf-most-beautiful-stock-videos.mp4" />
      </object>
  </video>
</div>
</li> -->
        </ul>
    </div>
    <ol class="hd dots cl">
        <!-- <li></li> -->
        <li></li>
        <li></li>
        <li></li>
    </ol>
</div>
<div class="tongji-bar">
    <span class="c-bbb">目前在线</span>
    <span class="c_primary">105,097,770</span>
    <span class="c-bbb">张图片，昨日新增</span>
    <span class="c_primary">105,097,770</span>
    <span class="c-bbb">张</span>
    <span class="c-bbb ml-20 mr-20">|</span>
    <a href="/product/price/" class="c_primary"><strong>立即购买图片&gt;&gt;</strong></a>
</div>
<div class="text-c" style="padding:50px 0; background-color:#f8f8f8">
    <h2 class="f-26" style="margin:0">改变您的工作方式从海洛创意开始！</h2>
    <p class="f-16 mt-20">
        <a href="javascript:;" onClick="modal_video()" style="text-decoration:none"><i class="icon icon-video va-m"></i>
            <span class="va-m c_primary">观看视频 了解海洛创意</span>
        </a>
    </p>
</div>
<div style="padding:50px 0">
    <div class="wp cl feature">
        <dl id="feature-1" class="item">
            <dt>
                100%正版
            </dt>
            <dd>
                <b style="color:#f34a35">
                    拒绝盗版，全额赔付
                </b>
                <br>
                我们将对作品版权永久担保，拒绝任何版权困扰
            </dd>
        </dl>
        <dl id="feature-2" class="item">
            <dt>
                价格低廉
            </dt>
            <dd>统一售价，最低20元一张<br>
                随时付款，真正的互联网式解决方案
            </dd>
        </dl>
        <dl id="feature-3" class="item">
            <dt>
                图片库庞大
            </dt>
            <dd>每周新增80万张图片<br>
                特色：1400万张插画和2300万张矢量图
            </dd>
        </dl>
        <dl id="feature-4" class="item" style="width:215px">
            <dt>
                发票支持
            </dt>
            <dd>支持普通发票和增值税发票<br>
                流程简单，购买后可在线提交申请
            </dd>
        </dl>
    </div>
</div>

<div style="padding:50px 0;background-color:#f8f8f8">
    <div class="wp cl">
        <h2 class="text-c f-30" style="margin:0">热门专题</h2>
        <ul class="cl mt-40 index-pic-list">
            <li>
				<span class="pic-id">
				<a href="http://www.hellorf.com/photo/show/270797195" target="_blank">ID 270797195</a>
				</span>
                <span class="picbox">
				<a href="http://www.hellorf.com/user/share/?id=1795644-75466-53d8c036ddc4c37e-1&subject=吃货-主站"
                   target="_blank"><img src="http://ali.image.hellorf.com/crm/3020161107111036809.jpg"></a>
				</span>
                <span class="textbox">
				<a href="http://www.hellorf.com/user/share/?id=1795644-75466-53d8c036ddc4c37e-1&subject=吃货-主站"
                   target="_blank">共馋主义</a>
				</span>
            </li>
            <li>
				<span class="pic-id">
				<a href="http://www.hellorf.com/photo/show/389535874" target="_blank">ID 389535874</a>
				</span>
                <span class="picbox">
				<a href="http://www.hellorf.com/user/share/?id=1795644-72919-28fdb4bc3ece914a-1&nowpage=1&subject=光影-主站 "
                   target="_blank"><img src="http://ali.image.hellorf.com/crm/3020161017111622305.jpg"></a>
				</span>
                <span class="textbox">
				<a href="http://www.hellorf.com/user/share/?id=1795644-72919-28fdb4bc3ece914a-1&nowpage=1&subject=光影-主站 "
                   target="_blank">灵动光影</a>
				</span>
            </li>
            <li>
				<span class="pic-id">
				<a href="http://www.hellorf.com/photo/show/270968429" target="_blank">ID 270968429</a>
				</span>
                <span class="picbox">
				<a href="http://www.hellorf.com/user/share/?id=1795644-75756-aac516e0aee810d6-1&subject=旅行-主站"
                   target="_blank"><img src="http://ali.image.hellorf.com/crm/3020161101104291341.jpg"></a>
				</span>
                <span class="textbox">
				<a href="http://www.hellorf.com/user/share/?id=1795644-75756-aac516e0aee810d6-1&subject=旅行-主站"
                   target="_blank">旅行家</a>
				</span>
            </li>
            <li>
				<span class="pic-id">
				<a href="http://www.hellorf.com/photo/show/368830043" target="_blank">ID 368830043</a>
				</span>
                <span class="picbox">
				<a href="http://www.hellorf.com/user/share/?id=1795644-75138-9bf45c870c05b2d8-1&nowpage=1&subject=极简-主站"
                   target="_blank"><img src="http://ali.image.hellorf.com/crm/3020161024155153744.jpg"></a>
				</span>
                <span class="textbox">
				<a href="http://www.hellorf.com/user/share/?id=1795644-75138-9bf45c870c05b2d8-1&nowpage=1&subject=极简-主站"
                   target="_blank">小透明（极简）</a>
				</span>
            </li>
        </ul>
    </div>
</div>

<div style="padding:50px 0;">
    <div class="wp cl">
        <h2 class="text-c f-30" style="margin:0">按分类查看</h2>
        <ul class="index-fenlei-list cl">
            <li>
                <a href="/hellorf/category/29-矢量图.html" target="_blank">矢量图</a>
            </li>
            <li>
                <a href="/hellorf/category/28-编辑类.html" target="_blank">编辑类</a>
            </li>
            <li>
                <a href="/hellorf/category/23-插图/剪贴图.html" target="_blank">插图/剪贴画</a>
            </li>
            <li>
                <a href="/hellorf/category/13-人物.html" target="_blank">人物</a>
            </li>
            <li>
                <a href="/hellorf/category/2-建筑物/地标.html" target="_blank">建筑物/地标</a>
            </li>
            <li>
                <a href="/hellorf/category/17-符号/标志.html" target="_blank">符号/标志</a>
            </li>
            <li>
                <a href="/hellorf/category/27-美容/时尚服饰.html" target="_blank">美容/时装服饰</a>
            </li>
            <li>
                <a href="/hellorf/category/12-自然.html" target="_blank">自然</a>
            </li>
            <li>
                <a href="/hellorf/category/24-复古风格.html" target="_blank">复古风格</a>
            </li>
            <li>
                <a href="/hellorf/category/3-背景/素材.html" target="_blank">背景/素材</a>
            </li>
            <li>
                <a href="/hellorf/category/31-名人.html" target="_blank">名人</a>
            </li>
            <li>
                <a href="/hellorf/category/4-商业/金融.html" target="_blank">商业/金融</a>
            </li>
            <li>
                <a href="/hellorf/category/0-交通运输.html" target="_blank">交通运输</a>
            </li>
            <li>
                <a href="/hellorf/category/30-仅限肖像授权书.html" target="_blank">仅限肖像授权书</a>
            </li>
            <li>
                <a href="/hellorf/category/18-运动/娱乐活动.html" target="_blank">运动/娱乐活动</a>
            </li>
            <li>
                <a href="/hellorf/category/1-动物/野生生物.html" target="_blank">动物/野生生物</a>
            </li>
            <li>
                <a href="/hellorf/category/8-假期.html" target="_blank">假期</a>
            </li>
            <li>
                <a href="/hellorf/category/21-室内.html" target="_blank">室内</a>
            </li>
            <li>
                <a href="/hellorf/category/5-教育.html" target="_blank">教育</a>
            </li>
            <li>
                <a href="/hellorf/category/9-物体.html" target="_blank">物体</a>
            </li>
            <li>
                <a href="/hellorf/category/14-宗教.html" target="_blank">宗教</a>
            </li>
            <li>
                <a href="/hellorf/category/15-科学.html" target="_blank">科学</a>
            </li>
            <li>
                <a href="/hellorf/category/16-科技.html" target="_blank">科技</a>
            </li>
            <li>
                <a href="/hellorf/category/26-抽象.html" target="_blank">抽象</a>
            </li>
            <li>
                <a href="/hellorf/category/11-艺术.html" target="_blank">艺术</a>
            </li>
            <li>
                <a href="/hellorf/category/10-工业.html" target="_blank">工业</a>
            </li>
            <li>
                <a href="/hellorf/category/25-公园/户外.html" target="_blank">公园/室外</a>
            </li>
            <li>
                <a href="/hellorf/category/7-保健.html" target="_blank">保健</a>
            </li>
            <li>
                <a href="/hellorf/category/6-食品及饮料.html" target="_blank">食品及饮料</a>
            </li>
            <li>
                <a href="/hellorf/category/22-其它.html" target="_blank">其它</a>
            </li>
        </ul>
    </div>
</div>

<div style="padding:50px 0; background-color:#f8f8f8">
    <div class="wp cl">
        <h2 class="text-c f-30" style="margin:0">数万家优质企业选择海洛创意</h2>
        <div id="yonghu2" class="rollpic cl" style="margin-top:40px;">
            <a href="javascript:void(0)" class="prev"></a>
            <div class="rollpicshow" style="visibility: visible;overflow: hidden; position: relative; width:1226px;">
                <ul>
                    <li>
                        <div class="pic-box"><img
                                src="http://static.hellorf.com/v1.8.6.0/hellorf/images/logo/huashangbao.jpg"></div>
                        <div class="dt">
                            海洛创意的确是一个设计类中新锐、丰富、专业的素材库，高水准的设计素材能让你站在大师的肩上完善自己的作品，强大的搜索引擎能准确的捕捉你的需求并加以推荐一系列让你目不暇接的意外收获，总之，带着你的创意来，没有它实现不了的。
                        </div>
                        <div class="dd">华商报视觉设计部主任 白宁</div>
                    </li>
                    <li>
                        <div class="pic-box"><img
                                src="http://static.hellorf.com/v1.8.6.0/hellorf/images/logo/kaisha.jpg"></div>
                        <div class="dt">海洛创意的素材内容覆盖特别全面，海量的图片、矢量素材足以满足设计创意需要，并且购买过的素材都是在线下载、授权，便于公司的素材资源管理，整体用起来都很方便。
                        </div>
                        <div class="dd">凯撒媒体公关部 新媒体总监 张淼</div>
                    </li>
                    <li>
                        <div class="pic-box"><img
                                src="http://static.hellorf.com/v1.8.6.0/hellorf/images/logo/taibo.jpg"></div>
                        <div class="dt">
                            作为一个从业十多年的平面设计师，创意图片一直是工作中不可缺少的视觉素材，站酷旗下“海洛创意”作为一家专业的创意图片供应商，更懂设计师的审美需求，图片素材类别多样，特色鲜明，品质高端，对设计师的工作效率与出品质量有着明显提升。
                        </div>
                        <div class="dd">钛铂新媒体大客户事业群设计总监 徐海涛</div>
                    </li>
                    <li>
                        <div class="pic-box"><img
                                src="http://static.hellorf.com/v1.8.6.0/hellorf/images/logo/huawei.jpg"></div>
                        <div class="dt">站酷旗下正版图库网站“海洛创意”以创意图片见长，有着鲜明的特色，丰富的图片启发了设计师的思维，并为设计师提供了高质量的素材，有利于设计行业的整体质量提升。
                        </div>
                        <div class="dd">华为终端UI设计部主管 郝华奇</div>
                    </li>
                    <li>
                        <div class="pic-box"><img
                                src="http://static.hellorf.com/v1.8.6.0/hellorf/images/logo/zhihu.jpg"></div>
                        <div class="dt">站酷海洛创意图库涵盖各行各业相关的图片与矢量图，清晰度高，审美很棒；图源非常新鲜，热点相关的图源丰富。可以满足资讯类平台日常配图的绝大部分需求。</div>
                        <div class="dd">知乎日报编辑 王率丁</div>
                    </li>
                    <li>
                        <div class="pic-box"><img
                                src="http://static.hellorf.com/v1.8.6.0/hellorf/images/logo/hunlimao.jpg"></div>
                        <div class="dt">婚礼猫
                            我最大的感触在于设计效率的提高以及作品水平的提升。我们公司是做婚嫁行业的移动互联网项目，用户对审美标准比较高。使用海洛创意正版高质量图，不止省下我们UI设计师工作时间，还大大提升了作品水平。
                        </div>
                        <div class="dd"> 婚礼猫CEO 吴宗庆</div>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="next"></a>
        </div>
        <div id="flink-logo" class="rollpic cl" style="margin-top:40px">
            <a href="javascript:void(0)" class="prev"></a>
            <div class="rollpicshow" style="visibility:visible;overflow: hidden;position: relative; width:1226px;">
                <ul>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-10.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-11.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-12.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-13.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-1.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-2.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-3.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-4.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-5.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-6.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-7.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-8.png"></li>
                    <li><img width="113" height="50" title=""
                             src="http://static.hellorf.com/v1.8.6.0/hellorf/images/pic/logo2-9.png"></li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="next"></a>
        </div>
    </div>
</div>


<div style="padding:50px 0">
    <div class="wp cl">
        <h2 class="text-c f-30" style="margin:0">为您节省一半的工作时间 立即体验</h2>
        <div class="pos-r">
            <div class="searchBar searchBar-big" style="margin:38px auto auto; position: static;">
                <form onsubmit="return dosearch2();" name="form-search2" method="get" action="/photo/search/"
                      class="form-search">
                    <input placeholder="搜索照片、矢量图和插画，多个词用空格隔开" name="searchKeyword" id="searchKeyword2"
                           class="searchTxt">
                    <!-- <div style="position:absolute; top:5px; left:497px;">
              <select data-enabled="false" name="search_group" id="search_group2">
                <option value="all">所有图片</option>
                <option value="photos">照片</option>
                <option value="vectors">矢量图</option>
                <option value="illustrations">插画</option>
              </select>
            </div> -->
                    <input type="hidden" name="search_group" id="search_group2" value="all"/>
                    <a href="javascript:;" class="st_camera_on" onClick="search_camera_open(this, 'index')"></a>
                    <button name="searchBtn" id="searchBtn2" class="btn btn-primary searchBtn"><i
                            class="icon icon-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-indexvideo" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true" data-width="800">
    <span class="indexvideo-close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">关闭</span>
    <div id="jp_container_1" class="jp-video jp-video-360p" role="application" aria-label="media player">
        <div class="jp-type-single">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div class="jp-gui">
                <div class="jp-video-play">
                    <button class="jp-video-play-icon" role="button" tabindex="0">play</button>
                </div>
                <div class="jp-interface">
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-controls-holder">
                        <div class="jp-controls">
                            <button class="jp-play" role="button" tabindex="0">play</button>
                        </div>
                        <div class="jp-volume-controls">
                            <button class="jp-mute" role="button" tabindex="0">mute</button>
                            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                            <div class="jp-volume-bar">
                                <div class="jp-volume-bar-value"></div>
                            </div>
                        </div>
                        <div class="jp-toggles">
                            <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="search-camera-box" class="modal dropBox hide">
    <div class="modal-header">
        <h3>以图搜图</h3>
        <a href="javascript:void(0);" class="close" onClick="search_camera_close()"></a>
    </div>
    <div class="modal-body" style="padding:40px 20px">
        <div class="searchBar-camera">
            <div class="form-search">
                <input placeholder="请输入图片地址" value="" name="search-imgurl" id="search-imgurl" class="searchTxt">
                <button name="searchBtn-url" id="searchBtn-url" class="btn btn-primary searchBtn"
                        onclick="dosearchfromimg();"><i class="icon icon-search"></i></button>
            </div>
        </div>
        <div class="mt-10 vm">
            <form name="uploadFrom" id="uploadFrom" enctype="multipart/form-data">
                <div id="local_file">
                    <span>粘贴图片地址</span>
                    <!-- <i class="icon icon-help4 help-tip-search"></i>
          <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <div id="file-uploader" class="link-uploadimg"></div> -->
                    <i class="icon icon-help4 help-tip-search"></i>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span class="link-uploadimg">从本地上传图片
					<input id="stfile" name="ki" type="file" value=""
                           style=" position:absolute; right:0; top:0; opacity:0; cursor:pointer"
                           accept="image/jpeg,image/png">
					</span>
                    <span>(仅支持jpg和png图片，最大10M)</span>
                </div>
            </form>
        </div>
        <div class="loadingbox hide">
            <img src="http://static.hellorf.com/v1.8.6.0/hellorf/images/loading_demo.gif"/><br/>
            <div style="font-size:16px;"> 加载中，请稍后</div>
        </div>
    </div>
</div>
<!--alert-->
<!-- footer 开始 -->
<div class="line line-2 mt-40 footer-line wp"></div>
<div class="cl wp mt-40 footer-nav">
    <div style="width: 222px; height: 145px; border-right:solid 1px #ededed" class="l">
        <div class="mt-5 f-16"><strong>关于海洛创意</strong></div>
        <ul style="margin-top:17px" class="c_sub l24 cl">
            <li><a target="_blank" href="http://www.hellorf.com/pub/about">关于我们</a></li>
            <li><a target="_blank" href="/product/introduce/">产品介绍</a></li>
            <li><a target="_blank" href="http://www.hellorf.com/pub/licensing">授权协议</a></li>
            <li><a target="_blank" href="http://contributor.hellorf.com/">我要供图</a></li>
            <li><a target="_blank" href="http://m.hellorf.com/">海洛移动版</a></li>
            <li><a target="_blank" href="http://www.hellorf.com/blog/">海洛博客</a></li>
            <li><a target="_blank" href="/shop">积分商城</a></li>
            <li><a target="_blank" href="http://weibo.com/hellorf"><i class="icon icon-sinawb2"></i></a><a
                    target="_blank" href="http://hellorf.zcool.com.cn/" class="ml-10"><i
                    class="icon icon-zcool"></i></a></li>
        </ul>
    </div>
    <div style="width: 222px; height: 145px; border-right:solid 1px #ededed; padding-left:67px" class="l">
        <div class="mt-5 f-16"><a target="_blank" href="http://www.hellorf.com/pub/dfaq" class=""><strong>常见问题</strong></a>
        </div>
        <ul style="margin-top:17px" class="c_sub l24 cl">
            <li><a target="_blank" href="http://www.hellorf.com/question/defaults/?cat_id=1">关于账户</a></li>
            <li><a target="_blank" href="http://www.hellorf.com/question/defaults/?cat_id=2">授权/版权</a></li>
            <li><a target="_blank" href="http://www.hellorf.com/question/defaults/?cat_id=3">购买/支付</a></li>
            <li><a target="_blank" href="http://www.hellorf.com/question/defaults/?cat_id=4">下载问题</a></li>
            <li><a target="_blank" href="http://www.hellorf.com/question/defaults/?cat_id=5">退款/退图</a></li>
            <li><a target="_blank" href="http://www.hellorf.com/pub/dfaq/">更多问题</a></li>
        </ul>
    </div>
    <div style="width: 222px; height: 145px; border-right:solid 1px #ededed;padding-left:67px" class="l">
        <div class="mt-5 f-16"><a target="_blank" href="http://www.hellorf.com/pub/contact"
                                  class=""><strong>联系我们</strong></a></div>
        <div class="c_sub" style="font-size:18px;margin-top:17px">400-6066-100</div>
        <div id="BizQQWPA2" class="mt-10"><a href="/pub/dfaq/"><img
                src="http://static.hellorf.com/v1.0.16/hellorf/images/QQ24.png"></a></div>
    </div>
    <div class="l" style="width: 222px; height: 145px;padding-left:67px">
        <div class="mt-5 f-16"><strong>关注公众号</strong> <span class="f-12">更多创意  产品资讯
</span></div>
        <div style="margin-top:17px">
            <img src="http://static.hellorf.com/v1.0.16/hellorf/images/weixincode.png">
        </div>
    </div>
    <div style="width:100px" class="r"><a target="_blank" href="http://www.zcool.com.cn/"><img
            src="http://static.hellorf.com/v1.0.16/hellorf/images/footer-logo.png"></a></div>
</div>
<footer class="footer">
    <div class="wp pos-r"> Copyrignt &copy; 2004-2016 海洛创意 版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京站酷网络科技有限公司旗下产品
        京ICP备11017824号-7
        <a target="_blank" style="position:absolute; right:0; top:0;"
           href="https://ss.knet.cn/verifyseal.dll?sn=e14060411010549628joxl000000&ct=df&a=1&pa=0.5191530159208924"><img
                src="http://static.hellorf.com/hellorf/images/kexin.png"></a>
        <a target="_blank" style="position:absolute; right:78px; top:0;" href="http://www.miibeian.gov.cn/"><img
                src="http://static.hellorf.com/hellorf/images/beian.png"></a>
        <a target="_blank" style="position:absolute; right:156px; top:0;"
           href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.hellorf.com&at=realname "><img height="25"
                                                                                                      width="67"
                                                                                                      src="http://static.pinpaibao.com.cn/static/kiss_page/outer/image/124x47.png"></a>
    </div>
</footer>
<a class="rightTools r-cache" style="bottom: 235px;" title="批量下载列表"
   href="/offline/">批<br>量<br>下<br>载<br>列<br>表<span>0</span></a>
<a class="rightTools r-favorite" href="http://www.hellorf.com/user/favorite/" target="_blank"></a>
<a class="rightTools r-visited" href="http://www.hellorf.com/user/visited/" target="_blank"></a>
<a class="rightTools Feedback" onClick="Feedback()"></a>
<a class="rightTools r-qq" id="BizQQWPA3" href="/pub/dfaq/"></a>
<!-- footer结束 -->

<!--弹窗开始-->
<div class="modal fade" id="modal-alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-width="450" style="width: 450px;margin-left: -225px; margin-top: -32.5px; display: none;">
    <div class="modal-body" style="padding:0">
        <div class="text-c f-14" style="padding-top:20px"><span id="alert_info"></span><BR>
            <br/>
        </div>
    </div>
</div>
<div class="modal" id="modal-alert2"
     style="position:fixed;width:450px; margin-left: -225px; margin-top: -32.5px;display:none">
    <div class="modal-body" style="padding:0">
        <div class="text-c f-14" style="padding-top:20px"><span id="alert_info2"></span><BR>
            <br/>
        </div>
    </div>
</div>

<div id="modal-dialog-tip" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-width="560">
    <div class="modal-header" id="modal-dialog-tip-header"></div>
    <div class="modal-body" id="modal-dialog-tip-body"></div>
</div>

<div id="modal-dialog-confirm" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <h3 id="modal-dialog-confirm-title"></h3>
        <a href="javascript:void(0);" aria-hidden="true" id="modal-dialog-confirm-close" data-dismiss="modal"
           class="close"></a>
    </div>
    <div class="modal-body">
        <div class="text-c f-14" style="color:#666" id="modal-dialog-confirm-content"></div>
        <div class="text-c" id="modal-confirm-btn"></div>
    </div>
</div>

<!--修改密码提示-->
<div id="modal-password-modify" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-width="560">
    <div class="modal-header"><h3>提示</h3></div>
    <div class="modal-body">
        您的密码过于简单，为了保障您的账户安全，请修改密码
    </div>
</div>

<!--意见反馈-->
<div class="modal fade" id="modal-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-width="366">
    <div class="modal-header">
        <h3>意见反馈</h3>
        <a style="margin-left:741px;" href="javascript:void(0);" aria-hidden="true" data-dismiss="modal"
           class="close"></a></div>
    <div class="modal-body">
        <div class="f-14">找到你要找的图片了么？</div>
        <div class="mt-10">
            <label>
                <input type="radio" name="feedback1" value="Yes" id="RadioGroup1_0">
                Yes</label>
            <label style="margin-left:40px">
                <input type="radio" name="feedback1" value="No" id="RadioGroup1_1">
                No</label>
        </div>
        <div class="mt-20">
            <textarea id="feedback2" class="textarea" placeholder="请输入您的建议..."
                      style="width:307px; height:52px;"></textarea>
        </div>
        <div class="mt-20 text-c">
            <input type="hidden" id="feed_searchkey" value=""/>
            <input type="hidden" id="feed_otherkey" value=""/>
            <input type="hidden" id="feed_url" value=""/>
            <input type="submit" class="btn btn-primary btn-small radius" value="提交" onclick="dofeedback();">
        </div>
    </div>
</div>

<!--提交成功-->
<div class="modal fade" id="modal-feedbacksucceed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-width="366" style="height:270px">
    <div class="modal-header">
        <h3>意见反馈</h3>
        <a style="margin-left:741px;" href="javascript:void(0);" aria-hidden="true" data-dismiss="modal"
           class="close"></a></div>
    <div class="modal-body">
        <div style="text-align:center; font-size:20px; margin-top:55px"><img
                src="http://static.hellorf.com/v1.8.6.0/hellorf/images/icon-face.png">&nbsp;提交成功！
        </div>
        <div class="text-c f-14" style="color:#666">感谢您的建议，我们会更加努力！</div>
        <div class="text-c" style="margin-top:55px">
            <input type="submit" value="关闭" class="btn btn-small radius" onclick="closefeedback();">
        </div>
    </div>
</div>
<!--弹窗结束-->
<!--依赖js引入 START-->
<script type="text/javascript">
    var set_weburl = "";
    var set_hellorf_base_url = "http://www.hellorf.com";
    var set_domain = "www.hellorf.com";
    var set_passport_appid = "1007";
    var set_passport_url = "passport.zcool.com.cn";
    var set_static = "http://static.hellorf.com/v1.8.6.0/hellorf/";
    var set_version = "1.8.6.0";
    var jq = 'set_static+"js/jquery.min.js?v="+set_version';
</script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/libs.min.js"></script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/H-ui.js?v=1.8.6.0"></script>
<script type="text/javascript"
        src="http://static.hellorf.com/v1.8.6.0/hellorf/js/bootstrap-dropdowns.min.js?v=1.8.6.0"></script>
<script type="text/javascript"
        src="http://static.hellorf.com/v1.8.6.0/hellorf/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="http://static.zcool.cn/v1.8.6.0/passport/scripts/passport-v1.0.3.js"></script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/main.js?v=1.8.6.0"></script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/favorite.js?v=1.8.6.0"></script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/download.js?v=1.8.6.0"></script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/order.js?v=1.8.6.0"></script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/offline.js?v=1.8.6.0"></script>
<script type="text/javascript"
        src="http://static.hellorf.com/v1.8.6.0/hellorf/js/hellorf-analytics.js?v=1.8.6.0"></script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/autocomplete.js?v=1.8.6.0"></script>
<script text="text/javascript">
    function do_load(url) {
        $('#click_download').find('a').attr('href', url).end().show();
        $("#downloadframe").attr("src", url);
        loadinghide_download();
    }
</script>
<script type="text/javascript">
    (function ($) {
        var url = 'http://123.56.23.146:9080/hellorf-suggest/suggest';
        $('#searchKeyword, #searchKeyword2').autocomplete(url, {
            selectFirst: true,
            matchContains: false,
            minChars: 1,
            dataType: "json",
            multiple: false,
            matchSubset: false,
            parse: function (data) {
                var parsed = [];
                for (var i = 0; i < data.response.docs.length; i++) {
                    parsed[i] = {
                        data: data.response.docs[i],
                        value: data.response.docs[i].term,
                        result: data.response.docs[i].term
                    }
                }
                return parsed;
            },
            formatItem: function (data) {
                return "<p onClick=\"dosearch('" + data['term'] + "')\">" + data['term'] + "</p><span>约 " + data['searchResult'] + " 个结果</span>";
            },
            formatResult: function (parsed) {
                return parsed;
            },
        });
    })(jQuery);
</script>
<!--依赖js引入 END-->
<script type="text/javascript">

    var check_plus_allow_www = function () {
        if (window.location.host == 'www.hellorf.com') {
            $.ajax({
                url: "http://plus.hellorf.com/user/allow-www",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    format: 'jsonp',
                    user_id: ''
                },
                success: function (data) {
                    if (!data.result) window.location.href = 'http://plus.hellorf.com';
                }
            });
        }
    }

    var is_login = getCookie('hf_login_v1');
    if (is_login == null) {
        $z.getServerCookie('http://passport.zcool.com.cn',
                function (data) {
                    if (data.passportServerEc != null && data.passportServerEc.length > 0) {
                        $.ajax({
                            type: "GET",
                            url: "http://www.hellorf.com/user/ssopassport/",
                            data: {
                                TOKEN: data.passportServerEc,
                                _mt: Math.random()
                            },
                            //async: false,
                            success: function (data) {
                                if (data.status == '1') {
                                    window.location.reload();
                                } else {
                                    check_plus_allow_www();
                                }
                            }
                        });
                    }
                }
        );
    } else {
        check_plus_allow_www();
    }

    setTimeout(function () {
        $z.getUserSession('http://passport.zcool.com.cn',
                function (data) {
                    if (data.userSession != null && data.userSession.length > 0) {

                        var oldSession = getCookie('hf_cookie');
                        if (oldSession != data.userSession) {
                            setCookie('hf_cookie', data.userSession);
                            doLogout(window.location.href);
                        }
                    }
                }
        );
    }, 1);
</script>


<!--index-->

<!--同时在线提示-->
<div class="modal fade hide" id="modal-online-tips" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-width="300" style="height:100px">
    <div class="modal-header">
        <h3>登录提示</h3>
        <a style="margin-left:741px;" href="javascript:void(0);" aria-hidden="true" data-dismiss="modal"
           class="close"></a>
    </div>
    <div class="modal-body">

    </div>
</div>


<!--qq开始-->
<script type="text/javascript">
    //        BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4006066100, selector: 'BizQQWPA'});
    //        BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4006066100, selector: 'BizQQWPA2'});
    //        BizQQWPA.addCustom({aty: '0', a: '0', nameAccount: 4006066100, selector: 'BizQQWPA3'});
</script>

<!--qq结束-->

<!-- 百度推送 -->
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

</body>
</html>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/jquery.jplayer.min.js"></script>
<script type="text/javascript">
    jQuery(".banner").slide({
        mainCell: ".bd ul",
        titCell: ".hd li",
        trigger: "click",
        effect: "leftLoop",
        autoPlay: true,
        delayTime: 700,
        interTime: 20000,
        pnLoop: false
    });
    $(function () {
        $(".banner-video").trigger('play');
    });
    function modal_video() {
        $("#jquery_jplayer_1").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    title: "海洛创意",
                    m4v: "http://ali.image.hellorf.com/video/hellorf2016-1920.mp4",
                    poster: "http://static.hellorf.com/v1.8.6.0/hellorf/images/video-default.png"
                });
            },
            swfPath: "../../dist/jplayer",
            supplied: "m4v",
            size: {
                width: "800px",
                height: "450px",
                cssClass: "jp-video-360p"
            },
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true
        });
        $("#modal-indexvideo").modal("show");
    }

    $(function () {
        var $banner = $(".banner-video");
        var bannervideo = $banner[0];
        bannervideo.play();
        //var pic_cnt = $(".bd ul").find('li').length;
        $("#searchKeyword").focus();
        //$.HUIhover('.banner .tabcon li');
    });
</script>
<script type="text/javascript" src="http://static.hellorf.com/v1.8.6.0/hellorf/js/jquery.form.js"></script>
<script type="text/javascript">
    function setPicSearchTip() {
        setCookie("picSearchTip", "1");
        $(".picSearchTip").remove();
    }

    $('#stfile').change(function (e) {
        var file = e.target.files[0];
        var suffix = file.name.toLowerCase().substr(-3);
        if ($.inArray(suffix, ['jpg', 'png']) < 0) {
            $(this).val('');
            set_alert('仅支持jpg，png格式');
            return false;
        } else {
            $("#uploadFrom").ajaxSubmit({
                type: 'post',
                url: 'http://isearch.hellorf.com/HBIS/wisefd/image_sx',
                data: {
                    'op': 0,
                    'ofs': '0',
                    'f': 1,
                    'ps': 100,
                    'sx_fwd': "image_ga",
                    'sa': "@;IV@image_size;L@timestamp;IV@face;D@thn_scale;D@time_filter"
                },
                //dataType : 'xml',
                beforeSend: function () {
                    $(".loadingbox").show();
                },
                success: function (data) {
                    callbackcomplate(data);
                },
                error: function (data, status, e) {
                    alert(e);
                }
            });
        }
    });
    /*返回完成*/
    function callbackcomplate(data) {
        var d = xmlToString(data);
        $.ajax({
            type: "post",
            url: "/photo/toSearch/",
            data: {data: d, type: 2},
            success: function (filename) {
                window.location.href = "/photo/imageSearch/?filename=" + filename + "&type=2";
            }
        });
    }
    //xml转换为string
    function xmlToString(xmlDoc) {
        if (window.ActiveXObject) {
            return xmlDoc.xml;  //IE
        } else {
            return (new XMLSerializer()).serializeToString(xmlDoc);  //FF
        }
    }
</script>
